.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #444444;
}

.main-header {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-header__logo {
  display: flex;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}

.main-header__toggle {
  display: block;
  width: 18.2px;
  height: 18px;
  border: 0;
  background-image: url("../../img/toggle_enabled.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-nav {
  display: flex;
  flex-direction: column;
  width: 280px;
  color: #000000;
  background-color: #ffffff;
}

.site-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 22px 0 24px 0;
}

.site-list__item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  background-image: url("../../img/hero_cat.png");
  background-repeat: no-repeat;
  background-position: top center;
  color: #ffffff;
}

.hero__wrapper {
  padding: 29px 0 3px 0;
  background: linear-gradient(to bottom, #68b738d9 302px, #ffffff 114px, #ffffff 60%, #ffffff 100%);
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.hero__image {
  display: flex;
  align-items: center;
  width: 320px;
  margin-bottom: 3px;
}

.hero__link {
  display: flex;
  width: 100%;
  align-items: center;
}

.directions__wrapper {
  display: flex;
  margin: 0 20px;
}

.directions__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.directions__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;
}

.directions__item--slim::before {
  display: block;
  content: "";
  position: absolute;
  width: 50px;
  height: 53px;
  top: 21px;
  left: 20px;
  background-image: url("../../img/cat_back_slim.svg");
}

.directions__item--fat::before {
  display: block;
  content: "";
  position: absolute;
  width: 67px;
  height: 50px;
  top: 24px;
  left: 15px;
  background-image: url("../../img/cat_back_fat.svg");
}

.directions__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  color: #000000;
}

.directions__description {
  margin: 0;
  margin-bottom: 38px;
}

.benefits__header {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.benefits__wrapper {
  display: flex;
  margin-bottom: 49px;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.benefits__item {
  position: relative;
  margin-left: 100px;
}

.benefits__item--nutrient::before {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;
  background-image: url("../../img/nutrient_icon.svg");
}

.benefits__item--practical::before {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;
  background-image: url("../../img/practical_icon.svg");
}

.benefits__item--economic::before {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;
  background-image: url("../../img/economic_icon.svg");
}

.benefits__item--efficient::before {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;
  background-image: url("../../img/efficient_icon.svg");
}

.benefits__description {
  margin: 0;
}

.example {
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 25px 20px 40px 20px;
}

.example__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

.example__report {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.example__point {
  display: flex;
  flex-direction: column;
  width: 124px;
  gap: 7.5px;
  align-items: center;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__specification {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 auto;
}

.example__conclusion {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.example__slider-wrapper {
  max-width: 320px;
}

.location__wrapper {
  display: flex;
  padding: 26px 20px;
  flex-wrap: wrap;
}

.location__call {
  display: flex;
  flex-direction: column;
  width: 140px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.location__address {
  display: flex;
  flex-direction: column;
  width: 140px;
  line-height: 20px;
  margin: 0;
}

.location__map {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/location.png");
  width: 320px;
  height: 362px;
}

.location__mark {
  display: flex;
  width: 57px;
  height: 53px;
  padding: 139px 129px 170px 134px;
  z-index: 2;
}

.logo-mark__pin {
  display: block;
  width: 57px;
  height: 53px;
  background-image: url("../../img/map-pin.svg");
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}

.main-footer__logo {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social {
  display: flex;
  padding: 0 74px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__item {
  display: block;
  width: 28px;
  height: 22px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
}

.link {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #68b738;
  color: #ffffff;
}

.link--easy {
  justify-content: left;
  padding: 10px 0;
  background-color: transparent;
  margin-right: 56px;
  color: #000000;
}

.example__slider-wrapper {
  max-width: 320px;
}

.compare-slider {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}

.compare-slider__illustration {
  position: absolute;
  background-image: url("../../img/slim_cat.png");
  background-repeat: no-repeat;
  font-size: 0;
  width: 320px;
  height: 100%;
  margin: 0;
}

.compare-slider__divisor {
  position: absolute;
  background-image: url("../../img/fat_cat.png");
  background-color: #eaeaea;
  background-repeat: no-repeat;
  width: 320px;
  box-shadow: 0 5px 10px -2px #0000004d;
  bottom: 0;
  height: 100%;
}
.compare-slider__divisor::before, .compare-slider__divisor::after {
  content: "";
  position: absolute;
  right: -2px;
  width: 4px;
  height: calc(50% - 25px);
  background: #666666;
  z-index: 3;
}
.compare-slider__divisor::before {
  top: 0;
  box-shadow: 0 -3px 8px 1px #0000004d;
}
.compare-slider__divisor::after {
  bottom: 0;
  box-shadow: 0 3px 8px 1px #0000004d;
}

.compare-slider__handle {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}
.compare-slider__handle::before, .compare-slider__handle::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.compare-slider__handle::before {
  border-right: 6px solid #666666;
  left: 50%;
}
.compare-slider__handle::after {
  border-left: 6px solid #666666;
  right: 50%;
}

.compare-slider__input {
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  background-color: transparent;
  width: calc(100% + 45px);
  z-index: 2;
}
.compare-slider__input:focus, .compare-slider__input:active {
  border: none;
  outline: none;
}

.compare-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #666666;
}

.compare-slider__input::-moz-range-track {
  appearance: none;
  height: 15px;
  width: 100%;
  background-color: transparent;
  position: relative;
  outline: none;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  top: 0;
  left: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}
/*# sourceMappingURL=style.css.map */