@use "./common/mixins";
@use "./common/global";

.benefits {
  @media (min-width: global.$tablet-width) {
    display: flex;
    flex-direction: column;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: global.$desktop-width) {
    display: flex;
    flex-direction: column;
    width: 1220px;
    margin: 0 auto;
  }
}

.benefits__header {
  @include mixins.oswald(36px, 40px);
  margin: 0;
  margin-bottom: 32px;
  color: #000000;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(60px, 60px);
  }
}

.benefits__wrapper {
  display: flex;
  margin-bottom: 49px;
}

.benefits__list {
  @include mixins.list_off;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: global.$tablet-width) {
    counter-reset: num;
    width: 708px;
    flex-direction: row;
    gap: 37px 153px;
    flex-wrap: wrap;
  }

  @media (min-width: global.$desktop-width) {
    width: 1220px;
    gap: 100px;
  }
}

.benefits__item {
  position: relative;
  margin-left: 100px;

  @media (min-width: global.$tablet-width) {
    width: 230px;
    margin-left: 0;

    &::after {
      @include mixins.oswald(280px, 280px);
      content: counter(num);
      counter-increment: num;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 100px;
      width: 50px;
      color: #ef6780;
      text-align: center;
      z-index: -1;
    }
  }
}

.benefits__item--nutrient::before {
  @include mixins.icon_element;
  background-image: url("../../img/nutrient_icon.svg");
}

.benefits__item--practical::before {
  @include mixins.icon_element;
  background-image: url("../../img/practical_icon.svg");
}

.benefits__item--economic::before {
  @include mixins.icon_element;
  background-image: url("../../img/economic_icon.svg");
}

.benefits__item--efficient::before {
  @include mixins.icon_element;
  background-image: url("../../img/efficient_icon.svg");
}

.benefits__description {
  margin: 0;
  z-index: 10;

  @media (min-width: global.$tablet-width) {
    @include mixins.lato(16px, 24px);
    padding: 151px 0 57px 0;
    background-color: transparent;
  }
}
