@use "./common/global";

.compare-slider {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;

  @media (min-width: global.$tablet-width) {
    width: 709px;
    padding-bottom: 510px;
  }

  @media (min-width: global.$desktop-width) {
    width: 560px;
    padding-bottom: 510px;
  }
}

.compare-slider__illustration {
  position: absolute;
  font-size: 0;
  width: 320px;
  height: 100%;
  margin: 0;

  @media (min-width: global.$tablet-width) {
    width: 560px;
    left: 74.5px;
  }
}

.compare-slider__divisor-image {
  position: absolute;
  left: 55%;

  @media (min-width: global.$tablet-width) {
    width: 560px;
    height: 512px;
    object-fit: cover;
    text-align: center;
  }
}

.compare-slider__image {
  @media (min-width: global.$tablet-width) {
    width: 560px;
    height: 512px;
    object-fit: cover;
    text-align: center;
  }
}

.compare-slider__divisor {
  position: absolute;
  background-color: #eaeaea;
  overflow: hidden;
  width: 320px;
  box-shadow: 0 5px 10px -2px #0000004d;
  bottom: 0;
  height: 100%;

  @media (min-width: global.$tablet-width) {
    width: 560px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: -2px;
    width: 4px;
    height: calc(50% - 25px);
    background: #666666;
    z-index: 3;
  }

  &::before {
    top: 0;
    box-shadow: 0 -3px 8px 1px #0000004d;
  }

  &::after {
    bottom: 0;
    box-shadow: 0 3px 8px 1px #0000004d;
  }
}

.compare-slider__handle {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
  }

  &::before {
    border-right: 6px solid #666666;
    left: 50%;
  }

  &::after {
    border-left: 6px solid #666666;
    right: 50%;
  }
}

.compare-slider__input {
  appearance: none;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  background-color: transparent;
  width: calc(100% + 45px);
  z-index: 2;

  @media (min-width: global.$tablet-width) {
    left: -60px;
  }

  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

.compare-slider__input::-webkit-slider-thumb {
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #666666;
}

.compare-slider__input::-moz-range-track {
  appearance: none;
  height: 15px;
  width: 100%;
  background-color: transparent;
  position: relative;
  outline: none;
}
