@use "./common/global";

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: global.$tablet-width) {
    width: 168px;
  }
}

.copyright__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;

  // @media (min-width: global.$tablet-width) {
  //   margin-right: 23px;
  // }
}
