@use "./common/mixins";
@use "./common/global";

.directions {
  @media (min-width: global.$desktop-width) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
  }
}

.directions__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  @media (min-width: global.$tablet-width) {
    margin: 0;
  }

  @media (min-width: global.$desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.directions__list {
  @include mixins.list_off;

  @media (min-width: global.$desktop-width) {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
  }
}

.directions__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;

  @media (min-width: global.$tablet-width) {
    width: 296px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 77px 330px 53px 82px;
  }

  @media (min-width: global.$desktop-width) {
    flex-direction: row;
    width: 457px;
    padding: 77px 61px 55px 52px;
    flex-wrap: wrap;
  }
}

.directions__item--slim::before {
  display: block;
  content: "";
  position: absolute;
  width: 50px;
  height: 53px;
  top: 21px;
  left: 20px;
  background-image: url("../../img/cat_back_slim.svg");

  @media (min-width: global.$tablet-width) {
    width: 200px;
    height: 211px;
    background-image: url("../../img/cat_back_slim_tablet.svg");
    top: 91px;
    left: 420px;
  }

  @media (min-width: global.$desktop-width) {
    width: 100px;
    height: 106px;
    background-image: url("../../img/cat_back_slim_desktop.svg");
    top: 45px;
    left: 52px;
  }
}

.directions__item--fat::before {
  display: block;
  content: "";
  position: absolute;
  width: 67px;
  height: 50px;
  top: 24px;
  left: 15px;
  background-image: url("../../img/cat_back_fat.svg");

  @media (min-width: global.$tablet-width) {
    width: 268px;
    height: 200px;
    background-image: url("../../img/cat_back_fat_tablet.svg");
    top: 91px;
    left: 420px;
  }

  @media (min-width: global.$desktop-width) {
    width: 134px;
    height: 100px;
    background-image: url("../../img/cat_back_fat_desktop.svg");
    top: 45px;
    left: 52px;
  }
}

.directions__title {
  @include mixins.oswald(24px, 37px);
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  color: #000000;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(36px, 36px);
    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: global.$desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.directions__description {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: global.$tablet-width) {
    @include mixins.lato(16px, 24px);
    margin-bottom: 48px;
  }
}

.directions__link {
  @include mixins.oswald(16px, 16px);
  position: relative;
  padding: 4px 56px 4px 0;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    top: -15px;
    left: 0;
    background-color: #d9d9d9;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    top: 8px;
    left: 100px;
    background-image: url("../../img/arrow_icon.svg");
  }

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(20px, 30px);

    &::before {
      display: none;
    }
  }
}
