@use "./common/mixins";
@use "./common/global";

.example {
  display: flex;
  margin: 0 auto;
  background-color: #eaeaea;

  @media (min-width: global.$tablet-width) {
    width: 768px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1440px;
  }
}

.example__wrapper {
  display: flex;
  padding: 25px 20px 40px 20px;
  flex-wrap: wrap;

  @media (min-width: global.$tablet-width) {
    padding: 0;
    width: 708px;
    margin: 0 auto;
    flex-direction: column;
  }

  @media (min-width: global.$desktop-width) {
    padding: 0;
    width: 1440px;
    flex-direction: row;
    gap: 224px;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
}

.example__data-wrapper {
  @media (min-width: global.$desktop-width) {
    display: flex;
    flex-direction: column;
    width: 436px;
    margin-left: 110px;
  }
}

.example__header {
  @include mixins.oswald(36px, 40px);
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(60px, 60px);
    margin-bottom: 60px;
  }

  @media (min-width: global.$desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  @include mixins.lato(14px, 18px);
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: global.$tablet-width) {
    @include mixins.lato(16px, 24px);
    margin-bottom: 55px;
  }

  @media (min-width: global.$desktop-width) {
    margin-bottom: 69px;
  }
}

.example__report {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 124px;
    height: 56px;
    top: -15px;
    left: 0;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 124px;
    height: 56px;
    top: -15px;
    right: 0;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  @media (min-width: global.$tablet-width) {
    width: 367px;
  }

  @media (min-width: global.$desktop-width) {
    width: 366px;
    margin-bottom: 55px;
  }
}

.example__point {
  display: flex;
  flex-direction: column;
  width: 124px;
  gap: 7.53px;
  align-items: center;
}

.example__number {
  @include mixins.oswald(24px, 24px);
  color: #000000;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(30px, 37px);
  }
}

.example__specification {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 auto;
  background: #eaeaea;
  padding: 0 20px;
  z-index: 2;

  @media (min-width: global.$tablet-width) {
    @include mixins.lato(14px, 14px);
    padding: 0;
    width: 224px;
    height: 14px;
    flex-wrap: nowrap;
  }
}

.example__conclusion {
  @include mixins.oswald(14px, 20px);
  display: flex;
  width: 188px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(20px, 20px);
    width: 180px;
    text-align: right;
    margin-left: auto;
  }

  @media (min-width: global.$desktop-width) {
    text-align: left;
    width: 436px;
    margin: 0;
  }
}

