@use "./common/mixins";
@use "./common/global";

.form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 320px;
  margin: 0 auto 32px auto;

  @media (min-width: global.$tablet-width) {
    width: 628px;
    margin: 0 70px;
    margin-bottom: 60px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1220px;
    margin: 0 110px;
    margin-bottom: 79px;
  }
}

.form__header {
  @include mixins.oswald(36px, 36px);
  text-align: left;
  margin: 0;
  margin-bottom: 37px;
  padding: 13px 20px 0 20px;
  color: #000000;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(60px, 60px);
    padding: 13px 0 0 0;
    width: 628px;
  }
}

.form__item {
  border: 0;
}

.form__submit {
  @include mixins.oswald(16px, 20px);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border: 0;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  margin: 0 20px 21px 20px;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(20px, 26px);
    margin: 0;
    padding: 14px 0;
    width: 284px;
  }
}

.form__footnote {
  @include mixins.lato(14px, 16px);
  color: #000000;
  text-align: center;

  @media (min-width: global.$tablet-width) {
    @include mixins.lato(16px, 16px);
    position: absolute;
    bottom: 0;
    right: 120px;
  }
}
