@use "./common/mixins";
@use "./common/global";

.habits {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  margin-bottom: 23px;

  @media (min-width: global.$tablet-width) {
    padding: 0;
    margin-bottom: 65px;
  }
}

.habits__title {
  @include mixins.oswald(24px, 26px);
  position: relative;
  color: #000000;
  margin: 0;
  margin-bottom: 38px;

  &::after {
    @include mixins.line(159px, 15px, 135px);
  }

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(36px, 36px);
    padding: 0;
    margin-bottom: 87px;

    &::before {
      @include mixins.line(30px, 20px, -70px);
    }

    &::after {
      @include mixins.line(476px, 20px, 222px);
    }
  }

  @media (min-width: global.$desktop-width) {
    &::before {
      @include mixins.line(70px, 20px, -110px);
    }

    &::after {
      @include mixins.line(1108px, 20px, 222px);
    }
  }
}

.habits__field-label {
  @include mixins.oswald(16px, 18px);
  text-transform: uppercase;
}
