@use "./common/mixins";
@use "./common/global";

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  align-items: center;
  background-image: url("../../img/hero_cat.png");
  background-repeat: no-repeat;
  background-position: top center;
  color: #ffffff;

  @media (min-width: global.$tablet-width) {
    color: #000000;
    background-image: none;
  }

  @media (min-width: global.$desktop-width) {
    width: 1440px;
    margin-bottom: 82px;
  }
}

.hero__wrapper {
  padding: 29px 0 3px 0;
  background: linear-gradient(to bottom, #68b738d9 302px, #ffffff 114px, #ffffff 60%, #ffffff 100%);

  @media (min-width: global.$tablet-width) {
    padding: 65px 90px 21px 90px;
    background: #ffffff;
  }

  @media (min-width: global.$desktop-width) {
    padding: 110px 834px 290px 190px;
    background: linear-gradient(to left, #68b738d9 602px, #ffffff 114px, #ffffff 60%, #ffffff 100%);
  }
}


.hero__title {
  @include mixins.oswald(36px, 36px);
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(60px, 60px);
    text-align: left;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  @include mixins.oswald(14px, 14px);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(20px, 20px);
    text-align: left;
    margin-bottom: 21px;
  }
}

.hero__image {
  display: flex;
  align-items: center;
  width: 320px;
  margin-bottom: 3px;

  @media (min-width: global.$tablet-width) {
    width: 709px;
    height: 609px;
    object-fit: cover;
  }

  @media (min-width: global.$desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 50px;
    left: 650px;
  }
}

.hero__link {
  display: flex;
  width: 280px;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;

  @media (min-width: global.$tablet-width) {
    position: absolute;
    top: 290px;
    left: 90px;
  }

  @media (min-width: global.$desktop-width) {
    top: 320px;
    left: 190px;
  }
}
