@use "./common/mixins";

.link {
  @include mixins.oswald(16px, 20px);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
}

.link--easy {
  justify-content: left;
  padding: 4px 56px 4px 0;
  background-color: transparent;
  color: #000000;
}

