@use "./common/global";

.logo__icon {
  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.logo__text {
  @media (min-width: global.$tablet-width) {
    width: 101px;
    height: 50px;
    text-align: left;
  }

  @media (min-width: global.$desktop-width) {
    width: 118px;
    height: 59px;
  }
}
