@use "./common/global";

.logo__icon {
  cursor: pointer;

  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.logo__text {
  cursor: pointer;

  @media (min-width: global.$tablet-width) {
    opacity: 0;
    width: 174px;
    height: 50px;
  }
}
