@use "./common/global";

.main-nav {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 280px;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: global.$tablet-width) {
    width: 436px;
    flex-direction: none;
    margin-left: 94px;
  }

  @media (min-width: global.$desktop-width) {
    width: 478px;
  }
}
