@use "./common/global";

.main-header {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: global.$tablet-width) {
    padding: 0;
  }

  @media (min-width: global.$desktop-width) {
    padding: 0;
    padding-top: 55px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 14px 0;
  flex-wrap: wrap;

  @media (min-width: global.$tablet-width) {
    width: 704px;
    padding-right: 4px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.main-header__logo-icon {
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.main-header__logo-text {
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: global.$tablet-width) {
    background-image: url("../../img/logo_tablet.svg");
  }

  @media (min-width: global.$desktop-width) {
    z-index: 2;
  }
}

.main-header__toggle {
  display: block;
  width: 22.2px;
  height: 22px;
  padding: 4px 4px;
  border: 0;
  background-image: url("../../img/toggle_disabled.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
  background-color: #ffffff;
  cursor: pointer;

  @media (min-width: global.$tablet-width) {
    display: none;
  }
}
