@use "./common/global";

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;

  @media (min-width: global.$tablet-width) {
    flex-direction: row;
    gap: 120px;
    width: 708px;
    align-items: center;
    padding: 55px 30px;
  }

  @media (min-width: global.$desktop-width) {
    gap: 376px;
    width: 1220px;
    padding: 66px 110px;
  }
}

.main-footer__logo {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(0, 0%, 85%);
  color: #111111;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }

  @media (min-width: global.$tablet-width) {
    border: 0;
    padding: 0;
  }
}

.main-footer__social {
  display: flex;
  padding: 0 74px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(0, 0%, 85%);

  @media (min-width: global.$tablet-width) {
    border: 0;
    padding: 0;
  }
}
