@use "./common/mixins";
@use "./common/global";

.promo {
  display: flex;
  width: 280px;
  flex-direction: column;
  background-image: url("../../img/cat_bag.png");
  margin: 0 auto 61px auto;

  @media (min-width: global.$tablet-width) {
    width: 707px;
    margin: 0 auto 70px auto;
    background-image: url("../../img/cat_bag_tablet.png");
  }

  @media (min-width: global.$desktop-width) {
    position: absolute;
    width: 245px;
    min-height: 288px;
    bottom: 645px;
    right: 110px;
    margin: 0;
    background-image: url("../../img/cat_bag_desktop.png");
  }
}

.promo__wrapper {
  background-color: #68b738d9;
}

.promo__description {
  @include mixins.lato(16px, 20px);
  position: relative;
  display: flex;
  text-align: center;
  width: 161px;
  flex-wrap: wrap;
  padding: 187px 0 43px 0;
  margin: 0 auto;
  color: #ffffff;

  @media (min-width: global.$tablet-width) {
    padding: 71px 125px 69px 421px;
  }

  @media (min-width: global.$desktop-width) {
    padding: 185px 42px 43px 42px;
  }
}

.promo__description::before {
  position: absolute;
  display: block;
  content: "";
  width: 78px;
  height: 80px;
  top: 59px;
  left: 39px;
  background-image: url("../../img/gift_icon.svg");

  @media (min-width: global.$tablet-width) {
    top: 59px;
    left: 120px;
  }

  @media (min-width: global.$desktop-width) {
    left: 85px;
  }
}
