@use "./common/mixins";
@use "./common/global";

.social__list {
  @include mixins.list_off;
  display: flex;
  gap: 24px;

  @media (min-width: global.$tablet-width) {
    width: 132px;
    margin-left: 40px;
  }
}

.social__item {
  display: block;
  width: 28px;
  height: 22px;
}

.social__link {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: rgb(104, 183, 56, 30%);
  }
}
