@use "./common/mixins";
@use "./common/global";

.supplements {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  margin-bottom: 34px;

  @media (min-width: global.$tablet-width) {
    width: 628px;
    padding: 0;
    margin-bottom: 52px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1220px;
    margin-bottom: 60px;
  }
}

.supplements__wrapper {
  @media (min-width: global.$tablet-width) {
    display: flex;
    width: 628px;
    gap: 37px 123px;
    flex-wrap: wrap;
  }

  @media (min-width: global.$desktop-width) {
    width: 1220px;
    gap: 37px 104px;
  }
}

.supplements__title {
  @include mixins.oswald(24px, 26px);
  color: #000000;
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(36px, 36px);
    margin-bottom: 57px;
  }
}

.supplements__checkbox-label {
  @include mixins.oswald(16px, 18px);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: global.$tablet-width) {
    @include mixins.oswald(20px, 20px);
    text-align: left;
    margin-bottom: 0;
    width: 221px;
    flex-wrap: wrap;
  }
}

.supplements__checkbox-label:last-child {
  margin-bottom: 0;
}
