@use "./common/global";

@mixin icon_element {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;

  @media (min-width: global.$tablet-width) {
    background-size: cover;
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }
}

@mixin oswald($oswald_size, $oswald_line) {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: $oswald_size;
  line-height: $oswald_line;
}

@mixin lato($lato_size, $lato_line) {
  font-family: "Lato", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: $lato_size;
  line-height: $lato_line;
}

@mixin list_off {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin slow_apperance($apperance_time) {
  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: grid;
      opacity: 0;
    }

    100% {
      display: grid;
      opacity: 1;
    }
  }
  animation: fadeInFromNone $apperance_time ease-in-out;

  @media (min-width: global.$tablet-width) {
    animation: none;
  }
}

