@use "./blocks/page.scss";
@use "./blocks/main-header.scss";
@use "./blocks/logo.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/site-list.scss";
@use "./blocks/main-container.scss";
@use "./blocks/hero.scss";
@use "./blocks/directions.scss";
@use "./blocks/benefits.scss";
@use "./blocks/example.scss";
@use "./blocks/slider.scss";
@use "./blocks/location.scss";
@use "./blocks/logo-mark.scss";
@use "./blocks/main-footer.scss";
@use "./blocks/social.scss";
@use "./blocks/copyright.scss";
@use "./blocks/link.scss";
@use "./blocks/compare-slider.scss";


@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  top: 0;
  left: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

